<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans>
    <bean id = "aService" class = "com.gushi.minis.test.service.impl.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="hello world"/>
        <property type="String" name="property2" value="Someone says"/>
        <property type="com.gushi.minis.test.service.impl.BServiceImpl" name="bService" ref="bService"/>
    </bean>

    <bean id="bService" class="com.gushi.minis.test.service.impl.BServiceImpl">
<!--        <property type="com.gushi.minis.test.BaseService" name="baseService" ref="baseService"/>-->
    </bean>

    <bean id="baseService" class="com.gushi.minis.test.BaseService"/>
</beans>



